<%- include("partials/header") %>

<div class="container">
    <header>
        <a href="/">New post it! </a>
        <a href="/show">Memes</a>
        <a href="/contact">Contact</a>
    </header>
    
    <p><b>Error: </b><%= error %></p>

</div>

<%- include("partials/footer") %>
