<%- include("partials/header") %>

<div class="container">
    <header>
        <a href="/">New post it! </a>
        <a href="/show">Memes</a>
        <a href="/contact">Contact</a>
    </header>
    
    <h1> Some wrong happened!</h1>
</div>

<%- include("partials/footer") %>
