<%- include("partials/header") %>
<div id="tittle">Post it!</div>

<form action="/memes" method="POST">
    <label for="search"><b>Name:</b></label>
    <input  type="text" placeholder="Name"  name="name" required><br>
    <label for="search"><b>URL:</b></label>
    <input  type="text" placeholder="Link" name="url" required><br>
    <label for="search"><b>Caption:</b></label>
    <input  type="text" placeholder="Add a catchy label" name="caption" required><br>
    <button class=btn >submit</button>
</form>

<%- include("partials/footer") %>
